In [19]:
#Definir archivo a importar

filename = "Transacción de muestra.txt"
data = open(filename, "r", encoding="utf-8")
read_data = data.read()
print(read_data)

************************ DATOS DE LA TRANSACCIÓN ***************************
Empresa: EjemploCorp
Fecha del Reporte: 2024-02-03
Número de Sucursal: 12345

ID_Transaccion, Fecha, Producto, Cantidad, Precio, Categoria, ID_Cliente, Notas
1, 2024-01-20, ProductoA, 5, 10.50, Electrónica, 101, -
2, 2024-01-21, ProductoB, 2, 15.75, Ropa, 102, -
3, 2024-01-22, ProductoC, 8, 7.20, Hogar, 103, -
4, 2024-01-23, ProductoA, 3, 10.50, Electrónica, 104, -
5, 2024-01-23, ProductoB, 1, 15.75, Ropa, 105, -
6, 2024-01-24, ProductoC, 4, 7.20, Hogar, 106, -
7, 2024-01-25, ProductoA, 6, 10.50, Electrónica, 107, -
8, 2024-01-25, ProductoB, 3, 15.75, Ropa, 108, -
9, 2024-01-26, ProductoC, 2, 7.20, Hogar, 109, -
10, 2024-01-27, ProductoA, 4, 10.50, Electrónica, 110, -
11, 2024-01-27, ProductoB, 5, 15.75, Ropa, 111, -
12, 2024-01-28, ProductoC, 7, 7.20, Hogar, 112, -
13, 2024-01-29, ProductoA, 2, 10.50, Electrónica, 113, -
14, 2024-01-29, ProductoB, 1, 15.75, Ropa, 114, -
15, 2024-01-30, ProductoC, 3, 7.20, Hogar, 115, -
16, 2024-01-31, ProductoA, 8, 10.50, Electrónica, 116, -
17, 2024-01-31, ProductoB, 4, 15.75, Ropa, 117, -
18, 2024-02-01, ProductoC, 5, 7.20, Hogar, 118, -
19, 2024-02-02, ProductoA, 3, 10.50, Electrónica, 119, -
20, 2024-02-02, ProductoB, 2, 15.75, Ropa, 120, -

In [29]:
#Funcion para optener transacciones en un dataframe con pandas
import pandas as pd

def get_transactions_data(strData):
    data_array = []
    isTransaction = False
    for line in strData.split("\n"):
        if "ID_Transaccion" in line or isTransaction == True:
            isTransaction = True
            data_line = line.split(", ")
            data_array.append(data_line)

    df = pd.DataFrame(data_array)
    df.columns = df.iloc[0]
    df = df.drop([0])
    df = df.dropna()
    df = df.reset_index(drop = True)
    return df

transaction_data = get_transactions_data(read_data)
transaction_data

,ID_Transaccion,Fecha,Producto,Cantidad,Precio,Categoria,ID_Cliente,Notas
0,1,2024-01-20,ProductoA,5,10.50,Electrónica,101,-
1,2,2024-01-21,ProductoB,2,15.75,Ropa,102,-
2,3,2024-01-22,ProductoC,8,7.20,Hogar,103,-
3,4,2024-01-23,ProductoA,3,10.50,Electrónica,104,-
4,5,2024-01-23,ProductoB,1,15.75,Ropa,105,-
5,6,2024-01-24,ProductoC,4,7.20,Hogar,106,-
6,7,2024-01-25,ProductoA,6,10.50,Electrónica,107,-
7,8,2024-01-25,ProductoB,3,15.75,Ropa,108,-
8,9,2024-01-26,ProductoC,2,7.20,Hogar,109,-
9,10,2024-01-27,ProductoA,4,10.50,Electrónica,110,-
10,11,2024-01-27,ProductoB,5,15.75,Ropa,111,-
11,12,2024-01-28,ProductoC,7,7.20,Hogar,112,-
12,13,2024-01-29,ProductoA,2,10.50,Electrónica,113,-
13,14,2024-01-29,ProductoB,1,15.75,Ropa,114,-
14,15,2024-01-30,ProductoC,3,7.20,Hogar,115,-
15,16,2024-01-31,ProductoA,8,10.50,Electrónica,116,-
16,17,2024-01-31,ProductoB,4,15.75,Ropa,117,-
17,18,2024-02-01,ProductoC,5,7.20,Hogar,118,-
18,19,2024-02-02,ProductoA,3,10.50,Electrónica,119,-
19,20,2024-02-02,ProductoB,2,15.75,Ropa,120,-

In [30]:
#Obtener valores de incio del txt
def get_value_by_keyword(strData, strKeyword):
    for line in strData.split("\n"):
        if strKeyword in line:
            data_value = line.split(": ")
            value = data_value[1]
            break
    return value

print(get_value_by_keyword(read_data, "Empresa"))
print(get_value_by_keyword(read_data, "Fecha del Reporte"))
print(get_value_by_keyword(read_data, "Número de Sucursal"))

EjemploCorp
2024-02-03
12345

In [31]:
#Almacenar en diccionario de pyhton 
def get_report_data(strData):
    out_dict = {"Empresa": "",
                "Fecha": "",
                "Sucursal": "",
                "Transacciones": None}
    
    out_dict["Empresa"] = get_value_by_keyword(strData, "Empresa")
    out_dict["Fecha"] = get_value_by_keyword(strData, "Fecha del Reporte")
    out_dict["Sucursal"] = get_value_by_keyword(strData, "Número de Sucursal")
    out_dict["Transacciones"] = get_transactions_data(strData)
    
    return out_dict

report_data = get_report_data(read_data)
report_data["Transacciones"]

,ID_Transaccion,Fecha,Producto,Cantidad,Precio,Categoria,ID_Cliente,Notas
0,1,2024-01-20,ProductoA,5,10.50,Electrónica,101,-
1,2,2024-01-21,ProductoB,2,15.75,Ropa,102,-
2,3,2024-01-22,ProductoC,8,7.20,Hogar,103,-
3,4,2024-01-23,ProductoA,3,10.50,Electrónica,104,-
4,5,2024-01-23,ProductoB,1,15.75,Ropa,105,-
5,6,2024-01-24,ProductoC,4,7.20,Hogar,106,-
6,7,2024-01-25,ProductoA,6,10.50,Electrónica,107,-
7,8,2024-01-25,ProductoB,3,15.75,Ropa,108,-
8,9,2024-01-26,ProductoC,2,7.20,Hogar,109,-
9,10,2024-01-27,ProductoA,4,10.50,Electrónica,110,-
10,11,2024-01-27,ProductoB,5,15.75,Ropa,111,-
11,12,2024-01-28,ProductoC,7,7.20,Hogar,112,-
12,13,2024-01-29,ProductoA,2,10.50,Electrónica,113,-
13,14,2024-01-29,ProductoB,1,15.75,Ropa,114,-
14,15,2024-01-30,ProductoC,3,7.20,Hogar,115,-
15,16,2024-01-31,ProductoA,8,10.50,Electrónica,116,-
16,17,2024-01-31,ProductoB,4,15.75,Ropa,117,-
17,18,2024-02-01,ProductoC,5,7.20,Hogar,118,-
18,19,2024-02-02,ProductoA,3,10.50,Electrónica,119,-
19,20,2024-02-02,ProductoB,2,15.75,Ropa,120,-

In [55]:
#crear funcion para manipulacion de los datos
def get_data_analyst_resume(df_input):
    #una copia para no alterar el df original
    df = df_input.copy()
    #Cambiar el nombre de la columna precio a precio unitario
    df = df.rename(columns = {"Precio":"Precio unitario"})
    #Crear una nueva columna llamada 'Total de venta' que sea el total de la cantidad multiplicada el precio
    df["Cantidad"] = df["Cantidad"].astype(float)
    df["Precio unitario"] = df["Precio unitario"].astype(float)
    df["Total de venta"] = df["Cantidad"] * df["Precio unitario"]
    #Obtener el total de venta por cada categoria
    df_sales_by_category = df[["Categoria", "Total de venta"]].groupby('Categoria').sum()
    #crear las columnas de mes dia y año
    df["Fecha"] = pd.to_datetime(df["Fecha"], yearfirst = True)
    df["Mes"] = df["Fecha"].dt.month
    df["Año"] = df["Fecha"].dt.year
    df["Dia"] = df["Fecha"].dt.day
    #Obtener el producto y fecha con mas ventas
    max_sold_index = df["Total de venta"].idxmax()
    most_sold_product = df.iloc[max_sold_index]["Producto"]
    most_sold_date = df.iloc[max_sold_index]["Fecha"]
    #diccionario de salida con todos los datos filtrados
    out_dict = {"data": df, 
               "sales_by_category":df_sales_by_category,
               "most_sold_info": {"product": most_sold_product, "date": most_sold_date}}
    
    return out_dict
    
get_data_analyst_resume = get_data_analyst_resume(report_data["Transacciones"])
get_data_analyst_resume["data"]

,ID_Transaccion,Fecha,Producto,Cantidad,Precio unitario,Categoria,ID_Cliente,Notas,Total de venta,Mes,Año,Dia
0,1,2024-01-20,ProductoA,5.0,10.50,Electrónica,101,-,52.50,1,2024,20
1,2,2024-01-21,ProductoB,2.0,15.75,Ropa,102,-,31.50,1,2024,21
2,3,2024-01-22,ProductoC,8.0,7.20,Hogar,103,-,57.60,1,2024,22
3,4,2024-01-23,ProductoA,3.0,10.50,Electrónica,104,-,31.50,1,2024,23
4,5,2024-01-23,ProductoB,1.0,15.75,Ropa,105,-,15.75,1,2024,23
5,6,2024-01-24,ProductoC,4.0,7.20,Hogar,106,-,28.80,1,2024,24
6,7,2024-01-25,ProductoA,6.0,10.50,Electrónica,107,-,63.00,1,2024,25
7,8,2024-01-25,ProductoB,3.0,15.75,Ropa,108,-,47.25,1,2024,25
8,9,2024-01-26,ProductoC,2.0,7.20,Hogar,109,-,14.40,1,2024,26
9,10,2024-01-27,ProductoA,4.0,10.50,Electrónica,110,-,42.00,1,2024,27
10,11,2024-01-27,ProductoB,5.0,15.75,Ropa,111,-,78.75,1,2024,27
11,12,2024-01-28,ProductoC,7.0,7.20,Hogar,112,-,50.40,1,2024,28
12,13,2024-01-29,ProductoA,2.0,10.50,Electrónica,113,-,21.00,1,2024,29
13,14,2024-01-29,ProductoB,1.0,15.75,Ropa,114,-,15.75,1,2024,29
14,15,2024-01-30,ProductoC,3.0,7.20,Hogar,115,-,21.60,1,2024,30
15,16,2024-01-31,ProductoA,8.0,10.50,Electrónica,116,-,84.00,1,2024,31
16,17,2024-01-31,ProductoB,4.0,15.75,Ropa,117,-,63.00,1,2024,31
17,18,2024-02-01,ProductoC,5.0,7.20,Hogar,118,-,36.00,2,2024,1
18,19,2024-02-02,ProductoA,3.0,10.50,Electrónica,119,-,31.50,2,2024,2
19,20,2024-02-02,ProductoB,2.0,15.75,Ropa,120,-,31.50,2,2024,2